.portfolio {
  border: 1px solid white;
  min-height: 100vh;
  width: 100%;
  height: max-content;
}

.portfolio__container {
  display: grid;
}

.portfolio__item {
  border: 1px solid white;
  max-width: 400px;
}
