.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: max-content;
  padding-bottom: 8rem;
  padding-top: 6.4rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__option {
  background: rgb(101, 101, 152, 0.4);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  border-color: var(--color-primary-variant);
  background: var(--color-bg-variant);
}

.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

input,
textarea {
  width: 90%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: white;
}

input:hover,
textarea:hover {
  border: 2px solid rgb(89, 103, 132);
}

form .btn-primary {
  font-size: 1.2rem;
  /* font-weight: bold; */
}

@media screen and (min-width: 860px) {
  .contact {
    padding-bottom: 1rem;
    padding-top: 8.8rem;
  }

  .contact__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    gap: 2rem;
    /* border: 1px solid white; */
  }

  .contact__option {
    margin-left: 10rem;
  }

  form {
    align-items: flex-start;
    width: 50%;
  }

  input,
  textarea {
    width: 100%;
    max-width: 34rem;
  }

  textarea {
    height: 12rem;
  }
}
