.header__section {
  position: fixed;
  top: -152px;
  width: 100%;
  height: 8rem;
  z-index: 4;
  background: rgb(19, 16, 16);
  vertical-align: center;
}

ul {
  display: flex;
  width: 80%;
}

ul > li {
  padding: 3rem 2rem;
  vertical-align: center;
  height: 2rem;
  text-align: center;
}

ul a {
  display: inline-block;
  border-radius: 20px;
  height: 3.7rem;
  width: max-content;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

ul a:hover {
  background: rgba(19, 16, 16, 0.4);
}

.source__code {
  text-align: right;
  float: right;
  position: absolute;
  right: 3rem;
  top: 3.6rem;
}

.source__code > a {
  border: 1px solid white;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  text-align: right;
  float: right;
  font-weight: bolder;
  font-size: larger;
  background: #4db5ff;
  color: black;
  cursor: pointer;
}

.source__code > a:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .header__section {
    display: none;
  }
}
