.header__section {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 6;
  background: transparent;
  backdrop-filter: blur(4px);
  vertical-align: center;
  display: none;
}

ul {
  display: flex;

  gap: 3rem;
}

ul a {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.source__code > a {
  border: 1px solid white;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  text-align: right;
  float: right;
  font-weight: bolder;
  font-size: larger;
  background: #4db5ff;
  color: black;
}

.source__code > a:hover {
  background: white;
  color: black;
}

.active {
  color: var(--color-white);
}

@media screen and (min-width: 860px) {
  .header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21rem;
  }
}

@media screen and (min-width: 1314px) {
  .header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
  }
}
